.inpt {
    width: 40%;
    padding: 10px 6px;
    font-size: 17px;
    outline: 1px solid yellow;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 768px){
    .inpt {
        width: 75%;
    }
}

@media only screen and (max-width: 470px){
    .inpt {
        width: 85%;
    }
}